{{ 'section-footer.css' | asset_url | stylesheet_tag }}
<footer class="section-falot">
  <div class="container-falot">
    <div class="letf-img">
      <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Left_Image_1.png?v=1680986357" alt="" />
    </div>
    <div class="content-falot">
      <div class="title-falot">FalaFULL of flavor</div>
      <div class="botton-look botton-falot">
        <a href="#">Try the variety pack</a>
      </div>

      <div class="social-networks">
        <div class="icon-face">
          <a href="#"
            ><img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/fb_icon_1.svg?v=1681054164" alt=""
          /></a>
        </div>
        <div class="icon-instag">
          <a href="#"
            ><img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/ig_icon_1.svg?v=1680986465" alt=""
          /></a>
        </div>
      </div>
      <div class="menu-tadah menu-falot">
        <div class="menu-major">
          <a href="#">HOME</a>
          <a href="#">OUR STORY</a>
          <a href="#">SHOP</a>
          <a href="#">CONTACT</a>
        </div>
        <div class="footer">©2022 TaDah Foods All rights reserved.</div>
      </div>
    </div>
    <div class="right-img">
      <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Right_Image_1.png?v=1680986357" alt="" />
    </div>
  </div>
</footer>
