{{ 'header.css' | asset_url | stylesheet_tag }}
<script src="{{ 'header.js' | asset_url }}" defer="defer"></script>

<header class="head">
  <div class="nav-menu-head">
    <div class="box-color">
      <div class="box hello"></div>
      <div class="box red"></div>
      <div class="box blue"></div>
      <div class="box orange"></div>
    </div>

    <div class="nav-menu">
      <div class="logo">
        <a href="#"><img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/tadah_logo_1.png?v=1680823862" alt="" /></a>
      </div>
      <div class="menu-tadah">
        <div class="menu-major"> 
          <a href="#">HOME</a>
          <a href="#">OUR STORY</a>
          <a href="#">SHOP</a>
          <a href="#">CONTACT</a>
        </div>
        <div class="shopping-cart">
          <a href="#"><img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Cart.svg?v=1680954477" alt="" /></a>
        </div>
        <div class="open-btn-menu">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Menu_Btn.png?v=1680954268" alt="" />
        </div>
      </div>
    </div>
  </div>
</header>