{{ 'section-chip.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-chip.js' | asset_url }}" defer="defer"></script>

<section class="section-chip">
      <div class="title-chip">‘Chick’ out what people are saying</div>
      <div class="container-chip">
        <!-- Slider main container -->
        <div class="swiper myswiperchip">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->

            <div class="swiper-slide">
              <div class="text-chip">
                Even if you’re far away from your favorite falafel stand, you
                can get your fix in a matter of minutes.” - Brian Kateman
              </div>
              <div class="img-chip">
                <img src="/img/entrepreneur_logo 1.png" alt="" />
              </div>
            </div>

            <div class="swiper-slide">
              <div class="text-chip">
                Even if you’re far away from your favorite falafel stand, you
                can get your fix in a matter of minutes.” - Brian Kateman
              </div>
              <div class="img-chip">
                <img src="/img/entrepreneur_logo 1.png" alt="" />
              </div>
            </div>

            <div class="swiper-slide">
              <div class="text-chip">
                Even if you’re far away from your favorite falafel stand, you
                can get your fix in a matter of minutes.” - Brian Kateman
              </div>
              <div class="img-chip">
                <img src="/img/entrepreneur_logo 1.png" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>