
{{ 'section-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-slider.js' | asset_url }}" defer="defer"></script>
<section class="section-slider">
  <div class="title-tasty">Tasty-monials</div>
  <div class="img-star"><img src="/img/Stars.png" alt="" /></div>

  <div class="container-slider">
    <!-- Slider main container -->
    <div class="swiper swiper-aro">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (2).png" alt="" />
          </div>
          <div class="tex-aro">
            I love their products! Great quality! Amazing flavors!!! Thank
            you Tadah Foods for creating your delicious and healthy wraps!
          </div>
          <div class="name-aro">Uriel Felipe Munar - Miami, FL</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (1).png" alt="" />
          </div>
          <div class="tex-aro">
            I just tried a Falafel Street Wrap (Feta Green Pepper). It was
            better than many restaurant wraps. So delicious!
          </div>
          <div class="name-aro">Joanne Yildirim – Los Angeles, CA</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (3).png" alt="" />
          </div>
          <div class="tex-aro">
            So yummy, and flavorful! I was pleasantly surprised by how good
            a frozen food item can be!
          </div>
          <div class="name-aro">Sharon Ferrara Kiefer - Detroit, MI</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (2).png" alt="" />
          </div>
          <div class="tex-aro">
            I love their products! Great quality! Amazing flavors!!! Thank
            you Tadah Foods for creating your delicious and healthy wraps!
          </div>
          <div class="name-aro">Uriel Felipe Munar - Miami, FL</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (1).png" alt="" />
          </div>
          <div class="tex-aro">
            I just tried a Falafel Street Wrap (Feta Green Pepper). It was
            better than many restaurant wraps. So delicious!
          </div>
          <div class="name-aro">Joanne Yildirim – Los Angeles, CA</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (3).png" alt="" />
          </div>
          <div class="tex-aro">
            So yummy, and flavorful! I was pleasantly surprised by how good
            a frozen food item can be!
          </div>
          <div class="name-aro">Sharon Ferrara Kiefer - Detroit, MI</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (2).png" alt="" />
          </div>
          <div class="tex-aro">
            I love their products! Great quality! Amazing flavors!!! Thank
            you Tadah Foods for creating your delicious and healthy wraps!
          </div>
          <div class="name-aro">Uriel Felipe Munar - Miami, FL</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (1).png" alt="" />
          </div>
          <div class="tex-aro">
            I just tried a Falafel Street Wrap (Feta Green Pepper). It was
            better than many restaurant wraps. So delicious!
          </div>
          <div class="name-aro">Joanne Yildirim – Los Angeles, CA</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="/img/red_halo 1 (3).png" alt="" />
          </div>
          <div class="tex-aro">
            So yummy, and flavorful! I was pleasantly surprised by how good
            a frozen food item can be!
          </div>
          <div class="name-aro">Sharon Ferrara Kiefer - Detroit, MI</div>
        </div>


      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>


    
  </div>
</section>