{{ 'section-feel.css' | asset_url | stylesheet_tag }}

<section class="section-look feel">
  <div class="container-look feel">
    <div class="content-img-look image eating">
      <img
        class="log"
        src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/eatthisnotthat_badge_1.png?v=1680974077"
        alt=""
      />
      <div class="circle-blan">n</div>
    </div>
    <div class="content-text-look var hand bell that">
      <div class="title-look high door">Featured in Eat This, Not That</div>
      <div class="parraf-look some sent rich">
        "This product is rich in fiber and fully plant-based, while being made from whole food ingredients. Rich in
        fiber, protein, and healthy fat, it will keep you satisfied as a meal and give you all the decadent flavors you
        crave when dining out!"<br />
        - Amy Shapiro MS,RD, CDN
      </div>
    </div>
  </div>
</section>
