{{ 'section-fresh.css' | asset_url | stylesheet_tag }}

<section class="section-fresh">
  <div class="container-fresh">
    <div class="content-fresh">
      <div class="text-fresh">Fresh Mediterranean street wraps falaFULL of flavor</div>
      <div class="botton-fresh">
        <a href="#">Try tadah!</a>
        <a href="#">Try the variety pack</a>
      </div>
    </div>
    <div class="img-fresh">
      <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/spicesweet_wrap_img_1.png?v=1680954762" alt="" />
      <img
        class="tada"
        src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/spicy-sweet-harissa-hummus_1_1.png?v=1680955178"
        alt=""
      />
    </div>
  </div>
</section>
