{{ 'section-look.css' | asset_url | stylesheet_tag }}

<section class="section-look">
      <div class="container-look">
        <div class="content-img-look">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/image_5.png?v=1680961271" alt="" />
        </div>
        <div class="content-text-look">
          <div class="title-look">A fresh look at an ancient food</div>
          <div class="parraf-look">
            Bring the freshness of a East Mediterranean classic, falafel, into
            your kitchen. Our convenient falafel street wraps are filled with
            honest ingredients, made from ancient recipes, prepared fresh,
            packed carefully, and sent straight to your door. Transport your
            taste buds to where these flavors all began. Let’s party like it's
            thirteen ninety-nine!
          </div>
        </div>
      </div>
    </section>