{{ 'section-banner.css' | asset_url | stylesheet_tag }}

<section class="section-banner">
      <div class="title-text-banner">Taste ALL the flavors.</div>
      <div class="parraf-text-banner">
        We aim to make your tastebuds feel some type of way. Each wrap starts
        with our authentic freshly made falafel patty and is then smothered in
        one of our award winning spreads before being hand rolled in a soft
        chewy whole-wheat tortilla.
      </div>
      <div class="content-produt-banner">
        <div class="produc-tadah">  
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/lemon_garlic_hummus_img_1.png?v=1680960409" alt="" /> 
          <div class="text-produc-lemon">Lemon Garlic Hummus</div>
          <div class="botton-lemon"><a href="#">EXPERIENCE THE FLAVOR</a></div>
        </div>

        <div class="produc-tadah red">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/caramelized_harissa_img_1.png?v=1680960434" alt="" />
          <div class="text-produc-lemon">Caramelized Harissa</div>
          <div class="botton-lemon">
            <a href="#">EXPERIENCE THE FLAVOR</a>
          </div>
        </div>

        <div class="produc-tadah blue">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/garden_veggie_feta_img_1.png?v=1680960426" alt="" />

          <div class="text-produc-lemon">Garden Veggie Feta</div>
          <div class="botton-lemon"><a href="#">EXPERIENCE THE FLAVOR</a></div>
        </div>

        <div class="produc-tadah orange">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/spicedsweet_harissa_img_1.png?v=1680960439" alt="" />

          <div class="text-produc-lemon">Spiced-Sweet Harissa</div>
          <div class="botton-lemon"><a href="#">EXPERIENCE THE FLAVOR</a></div>
        </div>
      </div>
    </section>
