{{ 'section-slider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'section-slider.js' | asset_url }}" defer="defer"></script>
<section class="section-slider">
  <div class="title-tasty">Tasty-monials</div>
  <div class="img-star">
    <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Stars.png?v=1680967576" alt="" />
  </div>

  <div class="container-slider">
    <!-- Slider main container -->
    <div class="swiper swiper-aro">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_2.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious
            and healthy wraps!
          </div>
          <div class="name-aro">Uriel Felipe Munar - Miami, FL</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_1.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So
            delicious!
          </div>
          <div class="name-aro">Joanne Yildirim – Los Angeles, CA</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_2.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          </div>
          <div class="name-aro">Sharon Ferrara Kiefer - Detroit, MI</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_3.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious
            and healthy wraps!
          </div>
          <div class="name-aro">Uriel Felipe Munar - Miami, FL</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_2.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So
            delicious!
          </div>
          <div class="name-aro">Joanne Yildirim – Los Angeles, CA</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_3.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          </div>
          <div class="name-aro">Sharon Ferrara Kiefer - Detroit, MI</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_2.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            I love their products! Great quality! Amazing flavors!!! Thank you Tadah Foods for creating your delicious
            and healthy wraps!
          </div>
          <div class="name-aro">Uriel Felipe Munar - Miami, FL</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_2.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            I just tried a Falafel Street Wrap (Feta Green Pepper). It was better than many restaurant wraps. So
            delicious!
          </div>
          <div class="name-aro">Joanne Yildirim – Los Angeles, CA</div>
        </div>

        <div class="swiper-slide">
          <div class="aro-img">
            <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/red_halo_1_3.png?v=1680967431" alt="" />
          </div>
          <div class="tex-aro">
            So yummy, and flavorful! I was pleasantly surprised by how good a frozen food item can be!
          </div>
          <div class="name-aro">Sharon Ferrara Kiefer - Detroit, MI</div>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
