{{ 'section-plant-based.css' | asset_url | stylesheet_tag }}


<section class="section-look">
      <div class="container-look plant-based">
        <div class="content-img-look image">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Image_1.png?v=1680973316" alt="" />
        </div>
        <div class="content-text-look var hand bell plant">
          <div class="title-look high plantet">
            A meal packed with plant-based protein
          </div>

          <div class="title-look high meal">100% plant-based protein</div>
          <div class="parraf-look some sent based">
            At 7.5 oz our wraps are the largest in the land. With 13-16g of
            plant-based protein per serving plus 11g of fiber, our falafels will
            keep you feeling full and satisfied for longer. You won’t need
            another wrap – you’ll want another wrap. Take that you puny snack
            wraps.
          </div>
        </div>
      </div>
    </section>
