{{ 'section-high.css' | asset_url | stylesheet_tag }}


 <section class="section-look high">
      <div class="container-look">
        <div class="content-img-look image">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Image.png?v=1680972826" alt="" />
        </div>
        <div class="content-text-look var hand bell">
          <div class="title-look high">High quality ingredients</div>
          <div class="parraf-look some sent">
            Not to brag, but we don’t take shortcuts. We bring dried chickpeas
            in-house and soak them ourselves so  we can produce our homemade
            falafels and hummus using the most natural ingredients. Combine that
            with our fresh selection of bell peppers, lemons, red onions, and
            garlic cloves -- and you can taste the difference. We don’t cut
            corners, we cut fresh ingredients.
          </div>
        </div>
      </div>
    </section>