{{ 'section-veriety.css' | asset_url | stylesheet_tag }}

 <section class="section-look variety">
      <div class="container-look">
        <div class="content-img-look">
          <img src="https://cdn.shopify.com/s/files/1/0747/7634/6925/files/Wraps_Image.png?v=1680968596" alt="" />
        </div>
        <div class="content-text-look var">
          <div class="title-look pack">Variety Pack</div>
          <div class="parraf-look some">
            Sometimes you open the fridge for the fifth time in a row and find
            yourself staring into the abyss of your fully stocked shelves.
            You’re not bored, you’re just tired of eating boring food. You're
            also probably indecisive like us, which is why you should order ALL
            the flavors we have.
          </div>
          <div class="botton-look"><a href="#">Try the variety pack</a></div>
        </div>
      </div>
    </section>