*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .section-look .container-look {
    display: flex;
  }
  .section-look .plant-based {
    flex-direction: row-reverse;
    margin-top: 0;
  }
  
  .section-look .container-look .content-img-look {
    position: relative;
    width: 50%;
  }
  .section-look .container-look .content-img-look img {
    width: 100%;
    height: 516px;
  }
  .section-look .container-look .image img {
    height: 685.02px;
  }
  .container-look .var {
    background-image: none;
  }
  .container-look .plant {
    margin-top: -0px;
    background-color: #f47d34;
  }
  .container-look .content-text-look .plantet {
    max-width: 513px;
  }
  .container-look .content-text-look .meal {
    display: none;
  }
  .container-look .content-text-look .door {
    max-width: none;
  }
  .container-look .content-text-look .plant {
    width: 443px;
    height: 156px;
  }
  
  /*--------------------- media-query-section-look--------------------------------*/
  @media (max-width: 1150px) {
    .container-look .bell {
      padding: 200px 100px 80px 100px;
    }
    .container-look .content-text-look .botton-look {
      margin-top: 90px;
    }
  }
  
  @media (max-width: 1070px) {
    .container-look .content-text-look .title-look {
      font-size: 35px;
    }
    .container-look .content-text-look .high {
      font-size: 24px;
    }
  }
  @media (max-width: 990px) {
    .variety{
      padding: 0;
    }
    .section-look .container-look {
      flex-direction: column;
    }
    .section-look .container-look .content-img-look {
      width: 100%;
    }
    .container-look .content-text-look {
      text-align: center;
      width: 100%;
      margin-left: 0px;
      padding: 71.7px 92px;
    }
  
    .container-look .content-text-look .title-look,
    .parraf-look {
      margin: auto;
    }
    .container-look .hand {
      height: 406px;
    }
    .container-look .content-text-look .botton-look {
      margin: 70px auto;
      max-width: 387px;
    }
    .container-look .plant {
      max-height: 406px;
      padding: 115px 20px;
    }
  
  
  }
  @media (max-width: 550px) {
    .container-look .content-text-look {
      padding: 71px 20px;
    }
  .section-chip .container-chip .text-chip{
    width: 388px;
    font-size: 15px;
    padding: 0 10px;
  }
  
  }
  
  @media (max-width: 460px) {
   
    
    .container-look .plantet {
      display: none;
    }
    .container-look .eating{
      background-image: url(/img/sharktank_img\ 1.png);
      background-repeat: repeat;
      height: 380px;
    }
    .section-look .feel .circle-blan,
    .eating img{
  display: none;
    }
    .section-look .container-look .content-img-look img {
      width: 100%;
      height: 302px;
    }
    .section-look .container-look .image img {
      height: 405.65px;
    }
    .container-look .content-text-look .title-look {
      font-size: 25px;
      line-height: 37px;
    }
    .container-look .content-text-look .high {
      font-size: 22px;
    }
  
    .container-look .content-text-look .parraf-look {
      margin-top: 0;
      font-size: 16px;
      line-height: 26px;
    }
  
    .container-look .content-text-look .meal {
      display: flex;
      font-size: 23px;
    }
    .container-look .content-text-look .sent {
      font-size: 15px;
    }
  }
  
  @media (max-width: 390px) {
    .section-look .feel .circle-blan,
    .eating img{
    display: block;
    }
    .section-look .feel .circle-blan{
      top: 687px;
      width: 61.71px;
      height: 61.71px;
    }
    .section-look .container-look .image .log {
      position: absolute;
      top: 687px;
      width: 61.71px;
      height: 61.71px;
      
    }
    .container-look .that{
      padding: 35px 20px;
    }
    .container-look .content-text-look .title-look {
      font-size: 25px;
      width: 264px;
      height: 75px;
    }
  }
  